.conteneur {
}
.sectionUn {
  background-image: url(../images/payments-banner-graphic.png);
  height: 550px;
  width: 100%;
}
.bonsaiLogo {
  display: flex;
}
.bonsaiLogo img {
  height: 30px;
  width: 30px;
  margin: 16px 15px;
}
.spMenu {
  margin-top: 100px;
}
